* {
    font-family: 'Arial Hebrew', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    max-width: 800px;
    width: 100%;
}

.Post {
    display: flex;
    border: 3px solid cornflowerblue;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.Post__content {
    max-width: 85%;
}

.Post__title {
    font-size: 20px;
    margin-bottom: 5px;
}



.PostForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
}

.PostSort-block {
    display: flex;
    justify-content: flex-end;
}

.PostSearch {
    margin: 10px 0;
}

.PostHeader {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PostHeader__counter {
    color: #807e7e;
    font-size: 16px;
}